on early-init
    start ueventd

on param-init
    loglevel 9
    mkdir /param 0755 root root
    mount ext4 /dev/block/mmcblk0p1 /param

on init
    sysclktz 0

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_CACHE /cache
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /mnt/sdcard
    export ASEC_MOUNTPOINT /mnt/asec
    export LOOP_MOUNTPOINT /mnt/obb
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/core-junit.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/apache-xml.jar:/system/framework/filterfw.jar

    mount debugfs none /sys/kernel/debug
    symlink /sys/kernel/debug /d

    mkdir /acct
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0

    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0777 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024

    mkdir /dev/cpuctl/fg_boost
    chown system system /dev/cpuctl/fg_boost/tasks
    chmod 0777 /dev/cpuctl/fg_boost/tasks
    write /dev/cpuctl/fg_boost/cpu.shares 1024

    mkdir /dev/cpuctl/bg_non_interactive
    chown system system /dev/cpuctl/bg_non_interactive/tasks
    chmod 0777 /dev/cpuctl/bg_non_interactive/tasks
    write /dev/cpuctl/bg_non_interactive/cpu.shares 52

on early-fs
    symlink /system/vendor /vendor
    symlink /system/etc /etc

    mkdir /system
    mkdir /data 0771 system system
    mkdir /datadata 0771 system system
    mkdir /cache 0771 system cache
    mkdir /config 0500 root root

    mkdir /mnt 0775 root system
    mkdir /mnt/secure 0700 root root
    mkdir /mnt/secure/staging 0700 root root
    mkdir /mnt/secure/asec  0700 root root
    mkdir /mnt/asec  0700 root system
    mount tmpfs tmpfs /mnt/asec mode=0755,gid=1000
    mkdir /mnt/obb 0700 root system
    mount tmpfs tmpfs /mnt/obb mode=0755,gid=1000

on fs
    mount yaffs2 mtd@cache /cache

on post-fs
    chown system cache /cache
    chmod 0771 /cache

    chown root log /proc/vmallocinfo
    chmod 0440 /proc/vmallocinfo

    chown root system /proc/kmsg
    chmod 0440 /proc/kmsg
    chown root system /proc/sysrq-trigger
    chmod 0220 /proc/sysrq-trigger

    chown root radio /proc/cmdline

    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
    chown radio system /sys/power/state
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max

    chown root net_raw /dev/socket
    chmod 0775 /dev/socket

    chmod 0644 /dev/xt_qtaguid

    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chown compass root /sys/class/input/input3/distortion
    chown compass root /sys/class/input/input3/offsets
    chown compass root /sys/class/input/input3/shape
    chown compass root /sys/class/input/input3/threshold
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

on early-boot
    ifup lo
    hostname localhost
    domainname localdomain

    setrlimit 13 40 40

    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/min_free_order_shift 4
    chown root system /sys/module/lowmemorykiller/parameters/adj
    chmod 0664 /sys/module/lowmemorykiller/parameters/adj
    chown root system /sys/module/lowmemorykiller/parameters/minfree
    chmod 0664 /sys/module/lowmemorykiller/parameters/minfree

    write /proc/1/oom_adj -16

    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_background_ratio  5

on boot
    start sysinit

#    start adbd

    class_start core
    class_start main

on property:sys.usb.config=none
    stop adbd
    setprop sys.usb.state none

on property:sys.usb.config=adb
    start adbd
    setprop sys.usb.state adb

on property:persist.sys.usb.config=none
    setprop sys.usb.config none

on property:persist.sys.usb.config=adb
    setprop sys.usb.config adb

service ueventd /sbin/ueventd
    class core
    critical

service console /sbin/sh
    class core
    console
    disabled
#    user shell
#    group log

on property:ro.debuggable=1
    start console

service adbd /sbin/adbd
    class core
    disabled

on property:service.adb.root=1
    restart adbd
