# graphics
/dev/pvrsrvkm             0666   system     graphics
/dev/video0               0666   system     camera
/dev/video1               0666   system     camera
/dev/video2               0666   system     camera
/dev/s3c-jpg              0666   system     camera
/dev/s3c-mem              0666   system     system
/dev/s3c-mfc              0666   system     graphics
/dev/graphics/*           0666   system     graphics

# radio
/dev/s3c2410_serial3      0660   radio      radio
/dev/dpram0               0660   radio      radio
/dev/dpram1               0660   radio      radio
/dev/dpramerr             0660   radio      radio
/dev/multipdp             0660   radio      radio
/dev/ttyCDMA0             0660   radio      radio
/dev/ttyCSD0              0660   radio      radio

/dev/s3c2410_serial0      0600   bluetooth  bluetooth

# for GPS
/dev/s3c2410_serial1      0600   gps        gps

/dev/i2c-12               0660   system     input